@using WebSiteSushi.Models
@model List<Menu_Detail>

@{
    ViewBag.Title = "Detail";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Detail Menu</h4>
</div>
<div class="modal-body">
    <table class="tbl-info">
        <tr>
            <th class="text-center"><strong>ID</strong></th>
            <th class="text-center"><strong>Food's Name</strong></th>
            <th class="text-center"><strong>Food's Price</strong></th>
            <th class="text-center"><strong>Image</strong></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th class="text-center">@item.id_menu_detail</th>
                <th class="text-center">@item.name_food_detail</th>
                <th class="text-center">@item.price_food_detail</th>
                <th class="img-col"><img src="~/Image/menu-detail/@item.image_food_detail" /></th>
            </tr>
        }
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>