@using WebSiteSushi.Models;
@model WebSiteSushi.Models.Reservation

@{
    ViewBag.Title = "Update";
    Layout = null;
}

<div class="modal-header panel-heading">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">CONFIRM</h4>
</div>
<div class="modal-body">
    <form id="frmUpdateStatus">
        @Html.HiddenFor(n => n.BookID)
        <p>Make sure that the real customer was coming !!</p>
    </form>    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" onclick="UpdateStatus()" data-dismiss="modal">Submit</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<script>
    function UpdateStatus(id) {
        $.ajax({
            url: '@Url.Action("updateStatus", "Reservation")',
            type: 'post',
            data: $("#frmUpdateStatus").serialize(),
            success: function (response) {
                if (response == 'True') {
                    $.ajax({
                        url: '@Url.Action("ReservationPartial", "Reservation")',
                        type: 'post',
                        success: function (data) {
                            $("#tbl-reservation").html("");
                            $("#tbl-reservation").html(data);

                            $('#update-status').modal('hide');
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            $("body").css("padding", "0");
                        }
                    });
                }
            }
        });
    }
</script>

