<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Image/sushi_icon.png"/>
    @* Style Sheet Files *@
    <link href="~/Content/admin-custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    @* Script Files *@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/admin-custom.js"></script>
    <script src="~/Scripts/Menu/menu-custom.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
</head>
<body>
    @RenderBody()
</body>    
</html>
