@using WebSiteSushi.Models;
@model News

@{
    ViewBag.Title = "NewsDetail";
    Layout = null;
}

<div class="news-detail">
    <p>@Model.name_news</p>
    <img src="~/Image/news/@Model.image_news" />
    <p>Posted by <a href="#">@Model.poster_news</a></p>
    <p>@Model.date_post_news</p>
    <p>@Model.description_news</p>
</div>
