
@{
    ViewBag.Title = "SubcribePartial";
    Layout = null;
}

<form>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <p class="res-screen">NHẬN THÔNG TIN MỚI</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-8 form-group">
            <input type="email" class="form-control" placeholder="Enter your email address">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 form-group">
            <input type="button" class="form-control" value="SUBCRIBE">
        </div>
    </div>
</form>
