
@{
    ViewBag.Title = "ChartArrayBasic";
    Layout = null;
}

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="well-ct well-bg-1">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>@ViewBag.menuAll</p>
                    <p>All Menu Sets</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="glyphicon glyphicon-list"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="well-ct well-bg-2">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>@ViewBag.menusAll</p>
                    <p>All Menu Details</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="well-ct well-bg-3">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>@ViewBag.reservAll</p>
                    <p>All Reservations</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="glyphicon glyphicon-cutlery"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="well-ct well-bg-4">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>@ViewBag.mailAll</p>
                    <p>All Mails</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="glyphicon glyphicon-envelope"></span>
                </div>
            </div>
        </div>
    </div>
</div>